:root {
  --lg-color: #2196f3;
  --menu-color: #212121;
  --dark-background: #2f303a;
  --content-color: #757575;
}
.reset {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.reset-ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
}
.reset-address {
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.second-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--menu-color);
}
.third-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--menu-color);
}
.logo-part1,
.logo-part2,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-part1 {
  color: var(--lg-color);
}
.logo-part2 {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}
.main-menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}
.main-menu-m {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--lg-color);
}
.contact-menu {
  color: var(--content-color);
}
.main-menu:focus,
.contact-menu:focus {
  color: var(--lg-color);
}
.main-menu:hover,
.contact-menu:hover {
  color: var(--lg-color);
}
.main-menu:active,
.contact-menu:active {
  color: var(--lg-color);
}

.hero-section {
  background-color: var(--dark-background);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background-color: var(--lg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content-det {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--content-color);
}
.team {
  background-color: #f5f4fa;
}
.team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-content {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--content-color);
}
footer {
  background-color: var(--dark-background);
}
.footer-menu {
  color: #ffffff;
}
.footer-menu-more {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стили для страницы Портфолио */

.port-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--menu-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.port-btn-m {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--lg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.port-btn:hover {
  color: #ffffff;
  background-color: var(--lg-color);
}
.port-btn:focus {
  color: #ffffff;
  background-color: var(--lg-color);
}
.port-btn:active {
  color: #ffffff;
  background-color: var(--lg-color);
}
.port-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--menu-color);
}
.port-content {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--content-color);
}
